* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    margin-top: 200px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: none;
    border: 1px solid #087f5b;
    display: flex;
    align-items: center;
    justify-content: center;    
    cursor: pointer;
}

button:hover{
    background-color: #087f5b;
}

.button:hover .icon{
    stroke: #fff;
}


.icon {
    stroke: #087f5b;
    height: 24px;
    width: 24px;
}


.link-page:link, .link-page:visited{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    text-decoration: none;
    border-radius: 50%;
    color:#343a40;  
}

.link-page:hover, .link-page:active{
    background-color: #087f5b;
    color:#fff;
}

.selected.link-page{
    background-color: #087f5b;
    color:#fff;
}

